{% extends 'base.html' %} {% block title %}Home{% endblock %}

<!---->

{% block content%} {% if user.is_authenticated %} {% for group in request.user.groups.all %} {% if group.name == 'verifier' %}
<div class="Row">
  <div class="col-12">
    <div class="d-flex justify-content-center align-items-center p-3">
      <div class="card p-3">
        <h2>Audio Labelling</h2>

        <hr />
        <div>
          <h5>
            <a href="/app/{{user.id }}/newaudio/1/1">View Unverified Audio</a>
          </h5>
          Shows and audio which has not had it's labels verified
        </div>
        <div>
          <h5>
            <a href="/app/{{user.id }}/newaudio/1/5">View 5 Unverified Audio</a>
          </h5>
          Shows a page of 5 audio files which have not had their labels verified
        </div>
        <div>
          <h5>
            <a href="/app/{{user.id }}/audiolabelled">View your labels</a>
          </h5>
          Shows the audio which you have verified
        </div>
        <hr />
        <div>
          <h5><a href="/app/audiopages">View Whole Dataset</a></h5>
          - Shows all of the audio
        </div>
        <hr />
        <div><a href="/app/datasetlist">Dataset List</a></div>
        <div><a href="/accounts/logout">Logout</a></div>
        <div class="text-right"> {% if user.is_authenticated %}
          <Small>Logged in as: </small>{{ user.username }}
            {% else %}
            <a href="/accounts/login">You are not logged in</a>
          {% endif %}
        </div>
        {% comment %}
        <div><a href="/app/utilities">Utilities</a></div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% elif group.name == 'admin' %}
<div class="Row">
  <div class="col-12">
    <div class="d-flex justify-content-center align-items-center p-3">
      <div class="card p-3">
        <h2>Audio Labelling</h2>
        <hr />
        <div>
          <a href="/app/{{user.id }}/newaudio">Label Dataset</a
          ><span class="text-right">
            Shows the audio that you have not labelled
          </span>
        </div>
        <div>
          <a href="/app/audiopages">View Whole Dataset</a>Shows all of the audio
        </div>
        <hr />
        <div>
          <a href="/app/{{user.id }}/audiolabelled">View your labels</a>Shows
          the audio which you have labelled, with your labels
        </div>
        <hr />
        <div>
          <a href="/app/1/audiolabelled">View Niall labels</a> - Shows the audio
          Niall has labelled, with his labels
        </div>
        <div>
          <a href="/app/{{user.id }}/newaudio/1/5"
            >View Unverified Niall labels</a
          >
          - Shows the audio Niall has labelled which does not also have a label
          by you.
        </div>
        <hr />
        <div><a href="/app/datasetlist">Dataset List</a></div>
        <div><a href="/accounts/logout">Logout</a></div>
        <div><a href="/app/utilities">Utilities</a></div>
        <div><a href="/app/classifiermgmt">Classifier Management</a></div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endfor %} {% else %}
<div class="Row">
  <div class="col-12">
    <div class="d-flex justify-content-center align-items-center p-3">
      <div>
        <h2><a href="/accounts/login">Login</a></h2>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center p-3">
        <div>
          <h2><a href="/app/register">Register</a></h2>
        </div>
      </div>
    </div>
  </div>

  {% endif %} {% endblock %}
</div>
