{% extends 'base2.html' %} {% block title %}Utilities{% endblock %}

<!---->

{% block content%} {% if user.id == 1 %}
<div class="container">
  <div class="Row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center p-3">
        <div>
          <h2>Utilities</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="Row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center p-3 mb-5">
        <div>
          <h3>Generate Model Predictions</h3>
          <p>Create predictions for all audio files using the stored model</p>
          <div class=" row" >
          <div class=" col 4"><button
            type="button"
            class="btn btn-primary text-center pd-3 "
            id="btn-pred"
          >
            Go!
          </button></div>
          <div class="col-4">  <div class="form-group">
            <label for="usermodelselect">Model Userid select</label>
            <select class="form-control" id="usermodelselect">
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div></div>
          <div class="form-check col-4">
            <input class="form-check-input" type="checkbox" value="" id="OverwriteExisting">
            <label class="form-check-label" for="OverwriteExisting">
              Overwrite Existing
            </label>
          </div>
        </div>
          <div class="progress mt-3">
            <div
              class="progress-bar"
              id="modelpred-bar"
              role="progressbar"
              style="width: 0%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              0%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center p-3">
        <h2>Database Backup Download</h2>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center p-3">
          <a class="btn btn-primary"  role="button" href="/app/api/databasebackup">Go!</a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center p-3">
        <h2>Generate Dataset File</h2>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center p-3">
          <a class="btn btn-primary"  role="button" href="/app/api/generateDatasetFile">Go!</a>
        </div>
        </div>
      </div>
    </div>
  </div>



  
  <div class="Row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center p-3">
        <h2>Links</h2>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center p-3">
          <ul>
            <li><a href="/app/api/get_cough_statistics">Cough Statistics</a></li>
            <li><a href="/app/1/unclearwaves">Unclear</a></li>
            <li><a href="/app/1/lowquality">Low Quality</a></li>
            <li><a href="/app/12/audiolabelled/not/1">12 Not labelled by 1</a></li>
          </ul>
          
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center p-3">
        <h2>JSON Backups Download</h2>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center p-3">
          <a class="btn btn-primary"  role="button" href="/app/api/copylabelsfromexternal/8634982/yes">Sync from local</a><span class="p-3"></span> <a class="btn btn-primary"  role="button" href="/app/api/copylabelsfromexternal/8634982/no">Sync from remote</a>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center p-3">
        <ul>
          {% for backup in backupfiles %}
        <li>
          <a role="button" href="/app/backups/{{ backup }}">{{ backup }}</a>
        </li>
        {% endfor %}
        </ul>
      </div>
        </div>
      </div>
    </div>
  </div>


</div>
<script>
  var xhrPMP = new XMLHttpRequest();
  function postModelPrediction() {
    var select1 = document.getElementById("usermodelselect")
    userselected = select1.options[select1.selectedIndex].value;
    json = { "data": "go", overwrite: false, "userselected" : userselected}
    if(document.getElementById('OverwriteExisting').checked){
      json['overwrite'] = true;
    }
    xhrPMP.open("POST", "api/runpredictions");
    xhrPMP.setRequestHeader("Content-Type", "application/json");
    xhrPMP.send(JSON.stringify(json));

    var xhrProgress;
    var intervalID;

    progressbar = document.getElementById("modelpred-bar");

    {% comment %} function start() {
      progressbar.setAttribute("aria-valuenow", 0);
      progressbar.setAttribute("width", 0);
      intervalID = setInterval(function () {
        xhrProgress = new XMLHttpRequest();
        xhrProgress.open("POST", "api/taskprogress", true);
        xhrProgress.setRequestHeader("Content-Type", "application/json");
        xhrProgress.onload = function () {
          if (xhrProgress.status === 200) {
            let response = JSON.parse(xhrProgress.responseText);
            progressbar.setAttribute("aria-valuenow", response.progress);
            progressbar.style.width = response.progress + "%";
            progressbar.innerText = Math.round(response.progress) + "%";
            if (response.progress == 100) {
              stop();
            }
          } else {
            console.error(xhrProgress.statusText);
          }
        };
        xhrProgress.send(JSON.stringify({ processname: "PredictDataset" }));
      }, 4500);
    } {% endcomment %}

    function stop() {
      clearInterval(intervalID);
    }

    //Delay start to allow initial setting of progress to 0
    {% comment %} setTimeout(start(), 700); {% endcomment %}
  }
  document
    .getElementById("btn-pred")
    .addEventListener("click", postModelPrediction);
</script>

{% else %} .
<div class="Row">
  <div class="col-12">
    <div class="d-flex justify-content-center align-items-center p-3">
      <div>
        <h2><a href="/accounts/login">Access Denied</a></h2>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
